<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>@ViewBag.Title</title>
    
        @Styles.Render("~/Content/css")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-signalr")

        <script src="/signalr/hubs"></script>

        <script src="~/Scripts/app.js"></script>
    </head>
    <body>
        @RenderBody()
     
        <footer>
            <hr />
            <p>Make by Ivan Ivanov for fun</p>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
